<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--이 부분이 header.html을 불러오는 부분-->
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">
        <h1 class="display-4" style="text-align: center">Login page</h1>
        <hr class="my-4">
        <p class="read">
            <button type="submit" class="btn btn-primary" onclick="location.href='/loginForm'">로그인</button>
            <button type="submit" class="btn btn-primary" onclick="location.href='/joinForm'">회원가입</button>
        </p>
    </div>
    <!--<div>
        <h1>상품등록</h1>
        <p>
            <a href="/admin/product/new">상품등록</a>
        </p>
    </div>
     /container -->
</div>
</body>
</html>
