<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Shop</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/shopcss.css">
    <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
</head>
<body>
<div class="navbar">

    <ul id="menu">
        <li><a href="/main"><b>상품</b></a></li>
        <li><a href="/admin/product/new"><b>상품등록</b></a></li>
        <li><a href="/itemcart"><b>장바구니</b></a></li>
        <li><a href="/loginForm"><b>로그인</b></a></li>
    </ul>
</div>

<div class="hero-header"></div>


<div class="products">
    <h3>Our New Products</h3>

    <div class="product-list">

        <div th:each="product : ${productAll}">
            <a th:href="@{/item/add?itemId={id} (id=${product.id})}" th:method="get" class="product">
                <img th:src="${product.imgPath}" width="225" alt="등록된 사진입니다.">
                <div class="product-name">
                    <div th:text="${product.product_name}">상품명</div>
                </div>
                <div class="product-price">
                    <div th:text="${product.product_price}">가격</div>
                </div>
                <div class="product-status">
                    <div th:text="${product.productSellStatus}"></div>
                </div>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="footer">
            <a href="http://faceboo.com">
                <img src="https://bakey-api.codeit.kr/files/629/images/facebook.png" height="20">
            </a>
            <a href="http://faceboo.com">
                <img src="https://bakey-api.codeit.kr/files/629/images/instagram.png" height="20">
            </a>
            <a href="http://faceboo.com">
                <img src="https://bakey-api.codeit.kr/files/629/images/twitter.png" height="20">
            </a>
        </div>
    </div>
</body>
</html>